mat-card {
  border-top: 4px solid #3f51b5;
  width: 80%;
  margin: 0 auto;
  margin-top: 24px;
}

mat-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-card-title .titulo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #3f51b5;
}

mat-icon.icon-titulo {
  scale: 1.2;
}

mat-icon.icon-btn {
  margin-right: 10px;
}

table {
  width: 100%;
}

td[mat-cell] {
  font-size: 0.875rem;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btns button {
  transition: 400ms;
}

.btns button:hover {
  transition: 400ms;
  background-color: whitesmoke;
  transform: translateY(-4px);
}
