
.container {
  padding: 24px 0;
  height: calc(100vh - 64px);
  background-color: lightgray;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 76%;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
