
.container {
  padding: 24px 0;
  height: calc(100vh - 64px);
  background-color: #ebebebc9;
  overflow: auto;
}

.header {
  display: flex;
  align-items: flex-end;
  width: 76%;
  margin: 0 auto;
  gap: 16px
}

.header span {
  font-size: 1.1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
